.page-footer {
  background: $black;
  color: $white;
  padding: 1rem 0;

  a {
    color: $white
  }

  .footer-nav {
    list-style-type: none;
  }

  .footer-logo {
    display: flex;
    margin: 0px auto;
    width: 125px;
  }

  @include breakpoint(medium down) {
    .footer-contact,
    .footer-social,
    .footer-nav {
      margin-right: 0;
    }
  }

  @include breakpoint(small down) {
    .footer-contact,
    .footer-social,
    .footer-nav {
      text-align: center;
    }
  }
}
