.header-wrapper {
  display: flex;
  height: 48px;

  .nav-wrapper  {
    list-style-type: none;
    width: 100%
  }
  .header-widget {
    list-style-type: none;
  }
}

.header-logo {
  width: 125px;
}

.header-menu {

}
@include breakpoint(medium down) {
}

@include breakpoint(small down) {
}
