// .home {
//   .home-hero {
//     .orbit {
//       .orbit-caption {
//         bottom: 50%;
//         transform: translateY(50%);
//         text-align: center;
//         background-color: transparent;
//       }
//     }
//   }
// }

header.home-header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a.call-to-action {
    color: $white;
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
}


.home-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-call-to-action {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.call-to-action-inner {
    position: absolute;
}
