---
url: /
name: Eyesee Apparel
description: The home page. Introduces the store and lists some products.
action: shop:products
template: default
published: true
---
<section class="home">

  {% if theme.enableHomeHero %}
    <header class="home-header hide-for-small-only">
      {{ content_block('home-hero-content') }}
    </header>
    <img class="hero-image hide-for-small-only" src="{{ theme.homeHeroImage.thumbnail('auto', 'auto') }}"
         alt="{{ theme.homeHeroImage.alt }}" title="{{ theme.homeHeroImage.title }}">
  {% endif %}

  <main>
  <!-- <section>
    <h2>Categories</h2>
      {{ partial('category-list', {categories: categories}) }}s
  </section> -->

  {% set featured_products = ('featured' | collection).products %}
  {% if featured_products | length %}
    {{ widget_block('home-featured') }}
    {{ partial('product-list', {products: featured_products}) }}
  {% else %}
    {% if products | length %}
      <h4>Latest Products</h4>
      {{ partial('product-list',
        {products:
          products | extended_sort('created_at', true) | reverse | slice(0,6) })
      }}
    {% endif %}
  {% endif %}

  <!-- {% set sale_products = [] %}
  {% for product in products if product.onSale %}
    {% set sale_products = sale_products | merge([product])%}
  {% endfor %} -->

  <!-- <section class="callout primary">
    <h2>On Sale</h2>
    {% if sale_products | length %}
      {{ partial('product-list', {products: sale_products}) }}
    {% else %}
      There are no products on sale right now.
    {% endif %}
  </section> -->

  {% set blog_posts = cmsContent('blog')
    | extended_sort('published_on', false) %} {# false means descending #}
    {% if blog_posts | length and theme.enableHomeBlogPreview %}
    <section>
      <h1>Archive</h1>
        {{ partial('archive-list', {posts: blog_posts | slice(0, 3)}) }}
    </section>
  {% endif %}
  </main>

  {{ widget_block('home-call-to-action') }}

</section>
